body {
	display: flex;
	flex-direction: column;
	height: 110%;
	margin: 0;
	font-family: "Montserrrat", sans-serif;
	padding-bottom: 600px;
}
html{
	height: 100%;
}
.container {
	max-width: 1200px;
}



// font-family: 'Exo 2', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Playfair Display', serif;