.post{
    padding: 60px 0 40px;
    border-bottom: 1px solid #DDE2E7;

}
.post__title{
    margin-bottom: 15px;
    font-family: 'Playfair Display', serif;;
    font-weight: 400;
    font-size: 33px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}
.post__info{
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #B0B0B0;
}
.post__img {
    margin-bottom: 40px;

}
.post__img img {
    width: 820px;
}
.post__content {
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: #000000;
}
.post__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}



       