.post-widget {
    text-align: center;
    padding: 40px 0;
    &:not(:last-child){
        border-bottom: 1px solid #DDE2E7;
    }
}
.post-widget__img{
    margin-bottom: 30px;
}
.post-widget__img img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    object-fit: cover;
}
.post-widget__title {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin-bottom: 15px;
    a {
        color: #000000;
        text-decoration: none;
        &:hover {
            color: rgba(7, 74, 191, 0.569);
        }
    }
}
.post-widget__info{
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #B0B0B0;
}